.site-footer {
	background: var(--color-footer-bg);
	margin: 1em 0 0;
	padding: 2em 0;
	font-family: var(--highlight-font-family);
	color: #fff;
}

.site-footer *,
.site-footer a {
	color: #fff;
}

.site-info {
	text-align: center;
}

.site-footer-menu {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-footer-menu li {
	display: inline-block;
	margin: 0;
}

.site-footer-menu li:not(:first-child):before {
	content: '\007C';
	padding: 0 0.4rem 0 0;
}

@media (--footer-query) {
	.footer-sidebar {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 2rem;
	}
}