/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.primary-sidebar {
	padding: 1rem 0;
	font-family: var(--highlight-font-family);
	border-top: var(--highlight-border-width) var(--highlight-border-style) var(--nyu-primary);
}

.primary-sidebar .widget {
	padding: 0 var(--grid-side-margin-small) 1em;
	border-bottom: var(--highlight-border-width) var(--highlight-border-style) var(--nyu-primary);
}

@media (--sidebar-query) {

	.primary-sidebar {
		padding: 0;
		border: 0;
	}

	.primary-sidebar .widget {
		padding-left: 0;
		padding-right: 0;
	}
}
